@page
@model AdminDashboard.Pages.PerformanceModel
@{
    Layout = "/Pages/Shared/_AppLayout.cshtml";
    ViewData["Title"] = "Performance & Sales";
    var daysOfWeek = Enum.GetNames(typeof(System.DayOfWeek))
        .Select(x => x.ToString())
        .ToArray();
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()


<script id="sales-revenue-template" type="text/html">
    <div>
        <kendo-chart name="areaChart" is-in-client-template="true" theme="sass" style="height:300px;">
            <chart-legend position="ChartLegendPosition.Bottom" align="ChartLegendAlign.Center">
                <labels><chart-legend-labels-margin right="200" /></labels>
            </chart-legend>
            <chart-area background="transparent"></chart-area>
            <series-defaults type="ChartSeriesType.Area"></series-defaults>
            <datasource>
                <transport>
                    <read url="@Url.Page("Performance","GetSales")" data="forgeryToken" type="POST" />
                </transport>
                <schema>
                    <model>
                        <fields>
                            <field name="Region" type="string"></field>
                            <field name="Date" type="date"></field>
                            <field name="Sum" type="number"></field>
                        </fields>
                    </model>
                </schema>
                <groups>
                    <group field="Region"></group>
                </groups>
            </datasource>
            <series>
                <series-item style="ChartSeriesStyle.Normal" category-field="Date" field="Sum">
                </series-item>
            </series>

            <category-axis>
                <category-axis-item field="Date">
                    <labels format="MMM">
                    </labels>
                </category-axis-item>
            </category-axis>

            <value-axis>
                <value-axis-item type="numeric">
                    <labels format="{0:c}"></labels>
                </value-axis-item>
            </value-axis>
        </kendo-chart>
    </div>
</script>
<script id="performance-template" type="text/html">
    <kendo-chart name="performanceChart" is-in-client-template="true" series-colors='new string[]{"\\#28B4C8","\\#2D73F5","\\#AA46BE"}' theme="sass" style="height:300px;">
        <chart-legend position="ChartLegendPosition.Bottom">
            <labels template="\\#= data.series._groupValue\\#"></labels>
        </chart-legend>
        <category-axis>
            <category-axis-item categories="daysOfWeek">
            <labels template="\\# if(kendo.support.mobileOS != false){return kendo.toString(kendo.date.dayOfWeek(new Date(),index),'ddd')} else {return value} \\#"></labels>
            </category-axis-item>
        </category-axis>
        <datasource>
            <transport>
                <read url="@Url.Page("Performance","GetSalesPreferences")" data="forgeryToken" type="POST" />
            </transport>
            <schema>
                <model>
                    <fields>
                        <field name="DayOfWeek" type="number"></field>
                        <field name="PaymentType" type="string"></field>
                        <field name="Sum" type="number"></field>
                    </fields>
                </model>
            </schema>
            <groups>
                <group field="PaymentType"></group>
            </groups>
        </datasource>
        <series>
            <series-item type="ChartSeriesType.RangeColumn" from-field="Min" to-field="Max" gap="10">
                <labels visible="false">
                </labels>
            </series-item>
        </series>
    </kendo-chart>
</script>
<script id="monthly-sales-template" type="text/html">
    <div class="k-d-flex-row k-justify-content-center k-align-items-center" style="height:100%">
        <div class="k-d-flex-col k-justify-content-evenly k-align-items-center" style="width: 300px; height: 200px;">
            <kendo-circulargauge name="activeGauge" color="\\#FF6358" center-template="\\#: value/1000 \\#k" value="@Model.LastThreeMonthsSalesCount" is-in-client-template="true">
                <gauge-area height="100" width="100"></gauge-area>
                <scale min="0" max="@Model.Target" start-angle="270"></scale>
            </kendo-circulargauge>
            <div class="sales k-card-title">Total Sales</div>
            <div class="sales k-card-title">@Model.Target.ToString("N")</div>
        </div>
        <div class="k-d-flex-col k-justify-content-evenly k-align-items-center" style="width:300px; height:200px;">
            <kendo-circulargauge name="inactiveGauge" color="\\#666666" center-template="\\#: value/1000 \\#k" value="@Model.LastMonthSalesCount" is-in-client-template="true" theme="sass">
                <gauge-area height="100" width="100"></gauge-area>
                <scale min="0" max="@Model.Target" start-angle="270"></scale>
            </kendo-circulargauge>
            <div class="sales k-card-title">Monthly Sales</div>
            <div class="sales k-card-title">@Model.LastMonthSalesCount.ToString("N")</div>
        </div>
    </div>
</script>
<script id="weekly-sales-template" type="text/html">
    <div class="k-d-flex-row k-justify-content-center k-align-items-center" style="height:100%">
        <div class="k-d-flex-col k-justify-content-evenly k-align-items-center" style="width: 300px; height: 200px;">
            <kendo-circulargauge name="activeGaugeWeek" color="\\#FF6358" center-template="\\#: value/1000 \\#k" value="@Model.LastMonthSalesCount" is-in-client-template="true">
                <gauge-area height="100" width="100"></gauge-area>
                <scale min="0" max="@Model.LastThreeMonthsSalesCount" start-angle="270"></scale>
            </kendo-circulargauge>
            <div class="sales k-card-title">Monthly Sales</div>
            <div class="sales k-card-title">@Model.LastMonthSalesCount.ToString("N")</div>
        </div>
        <div class="k-d-flex-col k-justify-content-evenly k-align-items-center" style="width:300px; height:200px;">
            <kendo-circulargauge name="inactiveGaugeWeek" color="\\#666666" center-template="\\#: value/1000 \\#k" value="@Model.TotalSalesPerWeekCount" is-in-client-template="true" theme="sass">
                <gauge-area height="100" width="100"></gauge-area>
                <scale min="0" max="@Model.LastMonthSalesCount" start-angle="270"></scale>
            </kendo-circulargauge>
            <div class="sales k-card-title">Weekly Sales</div>
            <div class="sales k-card-title">
                @Model.TotalSalesPerWeekCount.ToString("N")</>
        </div>
    </div>
</script>
<script id="europe-template" type="text/html">
    <kendo-chart name="europeChart" is-in-client-template="true" style="height:300px;">
        <chart-legend position="ChartLegendPosition.Top"></chart-legend>
        <chart-area>
            <margin right="20"/>
        </chart-area>
        <series-defaults type="ChartSeriesType.Bar" gap="4">
            <stack type="100%" />
        </series-defaults>
        <category-axis>
            <category-axis-item>
                <line visible="false" />
                <major-grid-lines visible="false" />
                <labels font="bold 12px  Roboto,sans-serif" position="ChartAxisLabelsPosition.Start" color="\\#424242"></labels>
            </category-axis-item>
        </category-axis>
        <value-axis>
            <value-axis-item>
                <labels position="ChartAxisLabelsPosition.Start" color="\\#8F8F8F" font="bold 12px  Roboto,sans-serif">
                </labels>
                <major-grid-lines visible="false" />
                <line visible="false" />
            </value-axis-item>
        </value-axis>
        <datasource>
            <transport>
                <read url="@Url.Page("Performance","GetSalesPerRegion",new { region = "EMEA"})" data="forgeryToken" type="POST" />
            </transport>
            <schema>
                <model>
                    <fields>
                        <field name="Country" type="string"></field>
                        <field name="Completed" type="number"></field>
                        <field name="NotCompleted" type="number"></field>
                    </fields>
                </model>
            </schema>
            <sorts>
                <sort field="Completed" direction="Ascending" />
            </sorts>
        </datasource>
        <series>
            <series-item field="Completed" category-field="Country" color-field="Color" gap="10" spacing="0.2">
            </series-item>
            <series-item field="NotCompleted" category-field="Country" gap="10" color="rgba(0, 0, 0, 0.08)" spacing="0.2">
                <labels visible="true" color="\\#424242" template='\\#= kendo.toString(100-value,"n0") \\#%' font="bold 14px  Arial,Helvetica,sans-serif"></labels>
                <border width="1" color="rgba(0, 0, 0, 0.08)"/>
            </series-item>
        </series>
    </kendo-chart>
</script>

<script id="global-template" type="text/html">
    <kendo-chart name="globalChart" is-in-client-template="true" style="height:300px;">
        <chart-legend position="ChartLegendPosition.Top"></chart-legend>
        <chart-area>
            <margin right="20" />
        </chart-area>
        <series-defaults type="ChartSeriesType.Bar" gap="4">
            <stack type="100%" />
        </series-defaults>
        <category-axis>
            <category-axis-item>
                <line visible="false" />
                <major-grid-lines visible="false" />
                <labels font="bold 12px  Roboto,sans-serif" position="ChartAxisLabelsPosition.Start" color="\\#424242"></labels>
            </category-axis-item>
        </category-axis>
        <value-axis>
            <value-axis-item>
                <labels position="ChartAxisLabelsPosition.Start" color="\\#8F8F8F" font="bold 12px  Roboto,sans-serif">
                </labels>
                <major-grid-lines visible="false" />
                <line visible="false" />
            </value-axis-item>
        </value-axis>
        <datasource>
            <transport>
                <read url="@Url.Page("Performance","GetSalesPerRegion",new { region = "Global"})" data="forgeryToken" type="POST" />
            </transport>
            <schema>
                <model>
                    <fields>
                        <field name="Country" type="string"></field>
                        <field name="Completed" type="number"></field>
                        <field name="NotCompleted" type="number"></field>
                    </fields>
                </model>
            </schema>
            <sorts>
                <sort field="Completed" direction="Ascending" />
            </sorts>
        </datasource>
        <series>
            <series-item field="Completed" category-field="Country" color-field="Color" gap="10" spacing="0.2">
            </series-item>
            <series-item field="NotCompleted" category-field="Country" gap="10" color="rgba(0, 0, 0, 0.08)" spacing="0.2">
                <labels visible="true" color="\\#424242" template='\\#= kendo.toString(100-value,"n0") \\#%' font="bold 14px  Arial,Helvetica,sans-serif"></labels>
                <border width="1" color="rgba(0, 0, 0, 0.08)" />
            </series-item>
        </series>
    </kendo-chart>
</script>

<script id="cost-template" type="text/html">
    <kendo-chart name="costChart" is-in-client-template="true" theme="sass" style="height:300px;">
        <series-defaults type="ChartSeriesType.Pie"></series-defaults>
        <datasource>
            <transport>
                <read url="@Url.Page("Performance","GetSalesPerGroup")" data="forgeryToken" type="POST" />
            </transport>
            <schema>
                <model>
                    <fields>
                        <field name="Group" type="string"></field>
                        <field name="Amount" type="number"></field>
                        <field name="Explode" type="boolean"></field>
                    </fields>
                </model>
            </schema>
        </datasource>
        <series>
            <series-item field="Amount" category-field="Group" explode-field="Explode">
            </series-item>
        </series>
        <chart-legend position="ChartLegendPosition.Right"><item visual="labelVisual"/>
            <labels template="\\#: text \\# | \\#:kendo.toString(value, 'c0')\\#" font="bold 14px Roboto"></labels>
        </chart-legend>
        <tooltip visible="true" template="\\#= category \\#"></tooltip>
    </kendo-chart>
</script>

<kendo-tilelayout name="tilelayout" columns="6" resizable="true" reorderable="true" columns-width="16%" rows-height="380px" on-resize="onTileResize">
    <containers>
        <container body-template-id="sales-revenue-template" col-span="6" row-span="1">
            <container-header template='<div class="k-card-title">Sales Revenue</div>' />
        </container>
        <container body-template-id="performance-template" col-span="4" row-span="1">
            <container-header template='<div class="k-card-title">Weekday Payment Preferences</div>' />
        </container>
        <container body-template-id="monthly-sales-template" col-span="2" row-span="1">
            <container-header template='<div class="k-card-title">Monthly Sales<span style="float:right" class="k-icon k-i-more-vertical"></span></div>' />
        </container>
        <container body-template-id="europe-template" col-span="3" row-span="1">
            <container-header template='<div class="k-card-title">Top 5 Countries <span class="k-state-disabled" style="float:right;">Europe</span></div>' />
        </container>
        <container body-template-id="global-template" col-span="3" row-span="1">
            <container-header template='<div class="k-card-title">Top 5 Countries <span class="k-state-disabled" style="float:right;">Global</span></div>' />
        </container>
        <container body-template-id="weekly-sales-template" col-span="2" row-span="1">
            <container-header template='<div class="k-card-title">Weekly Sales<span style="float:right" class="k-icon k-i-more-vertical"></span></div>' />
        </container>
        <container body-template-id="cost-template" body-template="" col-span="4" row-span="1">
            <container-header template='<div class="k-card-title">Cost Breakdown<span style="float:right" class="k-icon k-i-more-vertical"></span></div>' />
        </container>
    </containers>
</kendo-tilelayout>
<style>
    @@media only screen and (max-width: 600px) {
        .k-tilelayout-item.k-card {
            grid-column-end: span 6 !important;
        }
    }
    .k-card-title {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        color: #000000
    }

    .sales {
        color: #666666
    }
    #tilelayout .k-card-header {
        border-style: none;
    }
</style>

<script>
    function labelVisual(e) {
        var rect = new kendo.geometry.Rect([0, 0], [400, 20]);
        var layout = new kendo.drawing.Layout(rect, {
            spacing: 15
        });

        var label = new kendo.drawing.Text(e.series.data[e.pointIndex].Group, [40, 0], {
            fill: {
                color: e.options.labels.color
            },
            font: "normal 14px 'Roboto', sans-serif"
        });

        var value = new kendo.drawing.Text(kendo.toString(e.series.data[e.pointIndex].Amount, "c"), [0, 0], {
            fill: {
                color: e.options.labels.color
            },
            font: "bold 14px 'Roboto', sans-serif"
        });

        var marker = new kendo.drawing.Path({
            fill: {
                color: e.options.markers.background
            },
            stroke: {
                width: 3,
                color: e.options.markers.background
            }
        }).moveTo(0, 0).moveTo(10, 10).lineTo(30, 10);

        var spaceRect = new kendo.geometry.Rect([0, 0], [(200 - value.measure().width - label.measure().width), 20]);
        var spacer = new kendo.drawing.Rect(spaceRect, {
            opacity: 0
        });

        var labelGroup = new kendo.drawing.Group();
        labelGroup.append(marker, label);


        layout.append(labelGroup, spacer, value);
        layout.reflow()

        return layout;
    }

    function onTileResize(e) {
        // for widgets that do not auto resize
        // https://docs.telerik.com/kendo-ui/styles-and-layout/using-kendo-in-responsive-web-pages
        kendo.resize(e.container, true);
    }

    function forgeryToken() {
        return kendo.antiForgeryTokens();
    }
</script>
